.container {
    width: 70vmin;
    height: 70vmin;
}

.box {
    width: 8vmin;
    height: 8vmin;
    position: absolute;
    background-color: #232621;
    border-color: white;
    border-style: solid;
    border-width: thin;
    background-size: cover;
}

.box.highlight {
    width : 28vmin;
    height : 28vmin;
    border-color : green;
    border-width: 5px;
    border-style: solid;
    background-color: transparent;
}

.box.text {
    font-size: x-large;
    font-family: Helvetica;
    height: 1vmin;
    width: 32vmin;
    background-color: transparent;
    border-color: transparent;
    font-weight: bold;
}
.box.text.warning {
    color : red;
}
.box.text.small {
    font-size: large;
}

.box.big {
    width: 16vmin;
    height: 16vmin;
}

.box.smol {
    width: 4vmin;
    height: 4vmin;
}

.interact{
    width: 16vmin;
    height: 16vmin;
    position: absolute;
    background-size: cover;
    border-color: white;
    border-style: solid;
    border-width: thin;
}

